* {
  box-sizing: border-box;
}

:root {

  --main-color: #042032;

  --secondary-color: #1f9aec;;

  --third-color: #a7a7a7;
  
}

.logo-img {
  height: 50px;
}

body {
  height: 100%;
}

.container {
  display: flex;
}

header {
  background-color: var(--main-color);
  padding-right: 1rem;
  margin-right: 1rem;
  height: auto;
}

form {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--secondary-color);
}

li {
  margin-top: 1rem;
}

ul {
  list-style: none;
}

.card {
  border: solid 1px gray;
  border-radius: 12px;
}

.card-button {
  width: 100%;
  border: none;
}

.card-title {
  margin-left: .5rem
}

.card-difficulty {
  margin-left: .5rem;
}

.card-img {
  height: 200px;
  width: 300px;
  border-radius : 12px 12px 0px 0px;
}

.card-container {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 20px;
  padding-right: 10px;
  margin-top: 2rem;
}

article {
  width: 300px;
}

h1 {
  color: var(--secondary-color);
  border-bottom: var(--third-color) 1px solid;
}

h3 {
  margin-top: 1rem;
}

p {
  color: var(--third-color);
}

button {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
}